/chins-mall-backend.iml
/.idea/
/provider/provider.iml
/dependencies/dependencies.iml
/provider/provider-user-mgr-service/target/
/provider/provider-user-mgr-api/target/
/provider/provider-user-mgr-service/provider-user-mgr-service.iml
/provider/provider-user-mgr-api/provider-user-mgr-api.iml
