/chins-mall-backend.iml
/.idea/
/provider/provider.iml
/provider/ums-provider-api/ums-provider-api.iml
/provider/ums-provider-service/target/
/provider/ums-provider-api/target/
/service/service-register/target/