/chins-mall-backend.iml
/.idea/
/provider/provider.iml
/dependencies/dependencies.iml
/provider/provider-user-mgr-service/target/
/provider/provider-user-mgr-api/target/
/provider/provider-user-mgr-service/provider-user-mgr-service.iml
/provider/provider-user-mgr-api/provider-user-mgr-api.iml
/portal/portal.iml
/business/business.iml
/business/business-user-register/target/
/business/business-user-register/business-user-register.iml
/business/business-security/target/
/business/business-security/business-security.iml
/commons/commons.iml
/commons/commons-dto/commons-dto.iml
/commons/commons-dto/target/
/gateway/gateway.iml
/gateway/target/
